.pie-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 150px;
}

.factor-info-container {
  flex-grow: 1;
  display: inherit;
  justify-content: space-around;

  .pie {
    width: 150px;
    height: 150px
  }
}

.env-info-container {
  display: inherit;
  flex-grow: 1.5;
  justify-content: space-around;

  .pie {
    width: 100px;
    height: 100px
  }
  .big-pie {
    width: 200px;
    height: 200px
  }
}
.vertical-container{
  display: flex;
  flex-flow: column;
  .pie{
    margin: 10px;
  }
}
.power-info-container {
  display: inherit;
  flex-grow: 1;
  justify-content: center;


  .pie {
    width: 150px;
    height: 150px
    
  }
}